.App {
  margin-left: 75px;
  padding-top: 75px;
}

.header-style{
  position: fixed;
  width: 100%;
}

.line-height-0{
  line-height: 100%;
}
.shadaw{
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px gray;
}
.post-option{
  transition: .3s;
}
.post-option:hover{
  cursor: pointer;
  color: rgb(37, 37, 136);
  font-weight: bold;
}
textarea,input{
  border: none;
  outline: none;
}
.login{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.profile{
  padding-top: 60px;
  width: 80vw;
}
.cover-photo{
  height: 300px;
  width: 100%;
}
.profilePicture{
  width: 250px;
  height: 250px;
  border: 5px solid gray;
  border-radius: 50%;
  margin-top: -100px;
}
.edit:hover{
  cursor: pointer;
  color: rgb(92, 160, 92);
}
.form-item{
  width: 100%;
  border: 2px solid rgba(0, 139, 139, 0.856);
  border-radius: 15px;
  margin: 6px;
  padding: 10px;
}
.form-item textarea{
  width: 100%;
}